@import "globalStyle.scss";

.film-info-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // padding: 30px;
  padding-top: 20px;
  
  & .film-item-wrapper {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  & .film-title {
    font-size: 28px;
		line-height: 28px;
    margin-bottom: 30px;
    color: rgba(188, 156, 248, 0.747);
  }
  & p {
    font-weight: 500;
    margin-bottom: 15px;
		line-height: 22px;
    & span {
      font-size: 19px;
      font-weight: 900;
      color: rgba(188, 156, 248, 0.747);
    }
  }
}
.film-item-text {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .film-info-wrapper {
    & .film-title {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    & p {
      font-weight: 400;
      margin-bottom: 10px;
      line-height: 20px;
      & span {
        font-size: 19px;
        font-weight: 500;
        color: rgba(188, 156, 248, 0.747);
      }
    }
  }
  .film-item-text {
    width: 100%;
  }
}