@import "fonts.scss";
@import "normalize.css";

*,
*::before,
*::after {
	box-sizing: inherit; 
}
input, textarea, select { font-family:inherit; font-size:inherit;font-weight:inherit;line-height:inherit}
html {
	box-sizing: border-box; 
}

$lightColor: #adbac7;
$darkColor: #2d333b;
$yellowColor:#FBC832;
a {
	background: transparent;
	text-decoration: none;
}
.visibility-hidden {
  visibility: hidden;
}
.hidden {
  display: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: $lightColor;
  max-width: 1440px;
	padding: 20px;
  margin: 0 auto;
  background-color: $darkColor;
	& header {
		margin-bottom: 15px;
	}

}
body {
	&.autorized {
		& .header-user-info-wrapper {
			display: block;
		}
		& .button-login {
			display: none;
		}
	}
	&.admin {
		& .button-add-film,
		& .button-edit-film {
			display: inline-block;
		}
		& .button-remove-film {
			display: flex;
		}
	}
}

/* ---------------------HEADER / MAIN ----------------------- */
.header, .main {
  max-width: 90%;
  margin: 0 auto;
}
.header {
  height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__home-link-img {
  fill: $lightColor;
  &:hover {
    transform: scale(1.05);
  }
}
.header-user-info-wrapper {
	display: none;
}
.header-user-info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	& .user-name {
		margin-right: 20px;
	}
}
.user-name {
	font-size: 19px;
}

/*--------------------------КНОПОЧКИ------------------------------*/
.button {
	padding: 8px;
	border-radius: 5px;
	border: 0; /*сбрасываем контур (для тега button)*/
	max-width: 175px;
	overflow: hidden; 
	text-align: center;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: $darkColor;
	&:focus {
		outline: none;
	}
}
.button-login,
.button-logout {
	width: 165px;
  background-color: transparent;
  color: $lightColor;
  border: 2px solid $lightColor;
	cursor: pointer;
	&:hover { 
    // border: 1px solid $yellowColor;
		// box-shadow: 0px 2px 8px $yellowColor; 
    transform: scale(1.1);
	}
}
.button-login {
	display: block;
}
.button-add-film,
.button-remove-film,
.button-edit-film {
  display: none;
}
.button-add-film__img,
.button-remove-film,
.button-edit-film {
	fill: $lightColor;
	margin-right: 10px;
  &:hover {
    transform: scale(1.1);
	}
}
.button-remove-film {
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	background-color: $darkColor;
	cursor: pointer;
}
.select {
  width: 200px;
  height: 40px;
  color: $lightColor;
  font-size: 16px;
  background-color: #2d333b;
  background-repeat: no-repeat;
  border: 2px solid $lightColor;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
	&:hover { 
    transform: scale(1.1);
	}
}
@media screen and (max-width: 768px){
	.header, .main {
		max-width: 100%;
	}
	.header {
		height: 70px;
	}
	.button {
		font-size: 16px;
	}
}