@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: 
		url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
		url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
		url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
	box-sizing: inherit; 
}
input, textarea, select { font-family:inherit; font-size:inherit;font-weight:inherit;line-height:inherit}
html {
	box-sizing: border-box; 
}

$textColor: #adbac7;
$dark: #2d333b;

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: $textColor;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $dark;
	& header {
		margin-bottom: 15px;
	}
}
.header, .main {
  max-width: 80vw;
  margin: 0 auto;
}
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-login {
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: $textColor;
  border: 2px solid $textColor;
  cursor: pointer;
  overflow: hidden; 
}
.header-img {
  fill: $textColor;
  &:hover {
    transform: scale(1.1);
  }
}
.select {
  width: 200px;
  height: 40px;
  color: $textColor;
  font-size: 15px;
  background-color: #2d333b;
  background-repeat: no-repeat;
  border: 2px solid $textColor;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}
.main {
  & .select {
    margin-left: 5%;
    margin-bottom: 40px;
  }
  & .film-galary__wrapper {
    margin-bottom: 40px;
  }
  & .pagination {
    margin-bottom: 40px;
  }
}
.film-galary__wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  align-content: flex-start;
  justify-content: center;
  grid-row-gap: 50px;
  grid-column-gap: 25px;
}
/**
  функция repeat() позволяет повторять колонки сколько угодно раз
  auto-fill ЗАПОЛНЯЕТ строку максимально возможным числом колонок
  функция minmax() задаen минимальную ширину колонок, чтобы они не стали очень узкими
*/

.film-item {
  display: grid;
  align-content: flex-end;
  align-items: center;
	position: relative;
  width: 200px;
	&:hover .by-hover {
		display: block;
    color: black;
	}
  & .film-title {
    margin-bottom: 10px;
  }
}
.film-title {
  font-weight: 700;
  font-size: 20px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.film-item-img {
  overflow: hidden; /*Контет обрезается, без предоставления прокрутки.*/
	display: block;
	width: 200px;
  height: 300px;
  border-radius: 5px;
}
.by-hover {
	position: absolute;
	width: 100%;
	// display: block;
	display: none;
	background-color: $textColor;
	bottom: 15px; /* Положение от нижнего края */
}

/*______________________Пагинация____________________________*/
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & .pagination-item {
    color: $textColor;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
    margin-bottom: 8px;
  }
  &  .pagination-item.active {
    background-color: #4CAF50;
    color: $textColor;
    border: 1px solid #4CAF50;
  }
  & .pagination-item:hover:not(.active) {background-color: #ddd;}
  & .pagination-item:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  & .pagination-item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.visibility-hidden {
  visibility: hidden;
}
.hidden {
  display: none;
}
/*--------------------------------------для страницы с фильмом-----------------------*/
.film-info-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  padding-top: 100px;
  & .film-item-wrapper {
    margin-right: 20px;
  }
  & .film-title {
    font-size: 28px;
    margin-bottom: 30px;
    color: rgba(188, 156, 248, 0.747);
  }
  & p {
    font-weight: 500;
    margin-bottom: 20px;
    & span {
      font-size: 19px;
      font-weight: 900;
      color: rgba(188, 156, 248, 0.747);
    }
  }
}
.film-item-text {
  width: 60%;
  // background-color: rgb(13, 211, 23);
}
